CSC_LINK=replace-me
CSC_KEY_PASSWORD=replace-me
CSC_IDENTITY_AUTO_DISCOVERY=true
# CSC_NAME=Your Developer ID common name

APPLE_ID=your-apple-id@example.com
APPLE_APP_SPECIFIC_PASSWORD=replace-me
APPLE_TEAM_ID=TEAMID1234
